body,html {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}


@media(max-width: 420px) {
    body {
        overflow-x: hidden;
    }
    .container,
    .container-fluid {
        margin: 0;
    }

    .container-fluid {
        height: calc(25vh) !important;
    }
}

