.footer {
    background: #fdfb00;
    width: 100%; 
}

.footer-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.footer-logo img {
    width: 130px;
}

.footer-nav {
    width: 45%; 
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 23px;  
}

.footer-nav .footer-nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    font-weight: bolder;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-nav-item a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.footer-nav-item a:hover {
    font-weight: normal;
}

.footer-nav .footer-nav-item:first-child {
    border-right: 1px solid black;
}

.footer-nav .footer-nav-item:nth-child(2) {
    border-right: 1px solid black;
}

.footer-follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-follow .footer-follow-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
   
}

.footer-follow .footer-follow-item:first-child {
    cursor: default;
    text-align: center;
}

.footer-follow-item img {
    width: 45px;
    margin-bottom: 10px;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright p {
    margin: 0;
    padding: 10px 0;
}

@media (max-width: 740px) {
    .footer-first {
        display: block;
    }
    .footer-follow {
        display: block;
    }
    .footer-nav {
        width: 100%;
        display: block;
        text-align: center;
    }

    .footer-nav-item {
        padding: 10px 0;
    }
    .footer-nav-item:first-child, 
    .footer-nav-item:nth-child(2) {
        border: none !important;
    }

    .footer-nav-item a {
        padding-right: 0;
    }

    .footer-logo {
        text-align: center;
    }
}