.top-nav-fixed {
    font-family: 'Work Sans' , sans-serif;
    margin-right: 5px;
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fdfb00;
    position: fixed;
    z-index: 9999;
    top:0px;
    width:100%; 
    height: 70px;
}

.top-nav-wrapper-fixed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.top-nav-wrapper-fixed a {
    text-decoration: none;
    display: block;  
    padding: 20px;
    color: black;
    font-weight: 600;
    font-size: 14px;
   
}

.top-nav-wrapper-fixed a:hover {
    text-decoration: none;
    color: none;
    border-top: 5px solid;
    border-color: black;
    cursor: pointer;
    display: block;
}

.top-nav-logo-fixed {
    margin-right: auto;
}

.top-nav-logo-fixed img {
    width: 105px;
    margin-top: 12px;
    margin-left: 90px;
}

@media(max-width: 660px) {
    .top-nav-fixed {
      visibility: hidden;
    }
}