.top-nav {
    font-family: 'Work Sans' , sans-serif;
    margin-right: 5px;
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
}

.top-nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.top-nav-wrapper a {
    margin-right: auto;
    margin-top: 5px;
    margin-left: 10px;
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
    font-weight: 600;
    font-size: 14px;  
}

.top-nav-wrapper a:hover {
     text-decoration: none;
    color: none;
    border-top: 5px solid;
    border-color: black;
    cursor: pointer;
    display: block;
}

.top-logo {
    margin-right: auto;
}

.top-logo img {
    width: 150px;
    margin-top: 8px;
    margin-left: 90px;
}


@media(max-width: 740px) {
    .top-nav {
        display: block;
    }

    .top-nav img {
        display: block;
        margin: 0 auto;
    }

    .top-nav-wrapper {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .top-nav-wrapper a {
        margin: 0;
    }
}