.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-flow: column nowrap;
             flex-flow: column nowrap; 
     height: calc(100vh); 
}

.main-img {
    background-image: url('../images/main-img.jpg');
    width: 100%; 
    height: 100%;
    background-size: cover;   
    position: relative;  
}


@media (max-width: 740px) {
   .main-img {
        background-image: none;
        background-color: #fffb02;
        background-position: 14%;
        background-repeat: no-repeat;
        background-position-y: 65px;
        background-size: 150%;
    }
}