.container {
    font-family: 'Work Sans' , sans-serif;
}

.main {
    border-bottom: 1px solid #c2c2c2;
}

.main-description {
    margin-bottom: 45px;
}

.nav {
    width: 100%;
    float: left;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: stretch;
    border-bottom: 1px solid #c2c2c2;
}

.nav .nav-item {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 12px solid white;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    text-align: center;
    padding: 10px 0 22px 0;
    cursor: pointer;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.nav .nav-item:hover {
    border-top: 12px solid #4fe6dd;
    -webkit-transition: 300ms ease-in;
    -o-transition: 300ms ease-in;
    transition: 300ms ease-in;
}

.mint-main {
    background-image: url("../images/mint-main.jpg");  
    width: 100%;
    height: 500px;
    background-position: center; 
    background-size: cover;

}


.mint-subs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -webkit-box-pack: space-start;
        -ms-flex-pack: space-start;
            justify-content: space-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.mint-sub-1 img {
    width: 130px;
    margin-right: 30px;
}

.mint-sub-2 img {
    height: 100px;    
    -webkit-transform: rotate(270deg);    
        -ms-transform: rotate(270deg);    
            transform: rotate(270deg);
    margin-right: 50px;
}

.mint-sub-3 img {
    height: 73px;
}

.mint-small {
    background-image: url("../images/mint-small.png");
     background-size: 100% 100%;
     height: 80px;
     width: 110px; 
     margin-top: 100px;
}

.title {
    font-size: 28px;
    margin-top: 15px;
}

.mint-description {
    font-size: 13px;
    margin-top: 25px;
    text-align: justify;
}

.mint-description p:nth-child(2) {
    margin-top: 4%;
}

.mint-price {
    font-size: 28px;
    margin-top: 60px;
}

.mint-btn {
    font-size: 20px;
    background-color: white;
    color: #4fe6dd;
    border: 2px solid #4fe6dd;
    letter-spacing: 3px;
    padding: 6px 33px;
    margin-top: 30px;
}

.mint-btn:hover {
    background-color: #4fe6dd;
    color: white;
    border: 2px solid white; 
}

.other-templates {
    text-align: center;
    display: none;   
}

@media(max-width: 740px) {
    .nav {
        display: block;
    }

    .main-description .row {
        padding: 0 10px;
    }
}