.under-content {
    text-align: center; 
}

.under-background {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 800px;
    font-weight: bold;    
    color: #ffebeb;
    z-index: -999 !important;
    margin-top: -300px; 
}

.titles {
    font-family: 'Unna', serif;
    font-style: italic;
    font-weight: normal;
    background-image: url("../images/5.png");
    background-position: center center;
    background-size: 25%;
    background-repeat: no-repeat;
    padding: 80px 0;
}

.main-title-item {
    color: #4fe6dd;
    font-size: 95px;
}

.other-title-items {
    margin-top: 50px;
}

.title-item {
    color: black;
    font-size: 95px;
    z-index: 0;
    width: 100%;
    line-height: 0.9;
}

.title-item-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 19px;
    font-weight: normal;
    color : #555555;
    border-bottom: 1px solid #c2c2c2;
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
}

.title-item-text p {
    margin-bottom: 15px;
}

@media (max-width: 740px) {
    .main-title-item,
    .title-item {
        font-size: 25px;
        width: 100%;
    }

    .title-item-text {
        margin: 0 50px;
    }

    .titles {
        background-size: 45%;
    }
}